<h3>Recent Blogs</h3>
<ul id="posts">
{{- range first 3 (where site.RegularPages "Section" "blog") }}
    <li class="post-item">
        <div class="blog-title">
            <a href="{{ .Permalink | relURL }}">{{ .Title }}</a>
        </div>
        <div class="post-meta">{{ .Date.Format "Jan 2, 2006" }}</div>
    </li>
{{- end }}
</ul>
<ul id="posts">
<h3>New venues</h3>
{{- range first 10 (where site.RegularPages "Type" "in" site.Params.mainSections) }}
    <li class="post-item">
        <div class="post-title">
            <a href="{{ .Permalink | relURL }}" data-lat="{{.Params.lat}}" data-lng="{{.Params.lng}}">{{ .Title }}</a>
        </div>
        <div class="post-meta">{{ .Date.Format "15:04 Jan 2, 2006" }}{{ if .Params.poster }} by {{ .Params.poster }}{{ end }}</div>
        <div class="post-summary">
            {{ if .Params.description }}
                {{ .Params.description | truncate 80 }}
            {{ else }}
                {{ .Summary | truncate 80 }}
            {{ end }}
        </div>
    </li>
{{- end }}
</ul>
