{{ define "main" }}
<article>
  <header id="post-header">
    <h1>{{ .Title }}</h1>
  </header>
  <hr>
  {{ with .Content }}
    <div class="page-content">
      {{ . }}
    </div>
  {{ end }}
  <div class="posts-list">
    {{ range .Paginator.Pages }}
      {{ partial "post_preview.html" .}}
    {{ end }}
  </div>
  {{ if or (.Paginator.HasPrev) (.Paginator.HasNext) }}
    <ul class="pager main-pager">
      {{ if .Paginator.HasPrev }}
        <li class="previous">
          <a href="{{ .RelPermalink }}page/{{ .Paginator.Prev.PageNumber }}/">&larr; {{ i18n "newerPosts" }}</a>
        </li>
      {{ end }}
      {{ if .Paginator.HasNext }}
        <li class="next">
          <a href="{{ .RelPermalink }}page/{{ .Paginator.Next.PageNumber }}/">{{ i18n "olderPosts" }} &rarr;</a>
        </li>
      {{ end }}
    </ul>
  {{ end }}
</article>
{{ end }}