{{ define "main" }}
<article>
    <header id="post-header">
        <h1>{{ .Title }}
            {{ if .Params.external_url }}
                &nbsp;
                <a href="{{ .Params.external_url }}" target="_blank" class="external-link" title="Website"><i class="fa-solid fa-arrow-up-right-from-square"></i></a>
            {{ end }}
                {{ if .Params.lat }}
                    &nbsp;
                    <a href="https://www.google.com/maps?ll={{ .Params.lat }},{{ .Params.lng }}&q={{ .Params.lat }},{{ .Params.lng }}&hl=en&t=m&z=15" target="_blank" class="external-link" title="Google Maps"><i class="fa-solid fa-map"></i></a>
                    &nbsp;
                    <a href="https://www.openstreetmap.org/?mlat={{ .Params.lat }}&mlon={{ .Params.lng }}#map=19/{{ .Params.lat }}/{{ .Params.lng }}" target="_blank" class="external-link" title="OpenStreetMap"><i class="fa-solid fa-globe"></i></a>
                {{ end }}
        </h1>
            <div>
                <!-- Created Date -->
                {{- $pubdate := .PublishDate.Format "January 2, 2006" }}
                Created: 
                <time datetime="{{ .PublishDate }}" title="{{ .PublishDate }}">
                    {{ $pubdate }}
                </time>

                <!-- Last Updated Date -->
                {{- if .Lastmod }}
                    {{- $lastmod := .Lastmod.Format "January 2, 2006" }}
                    {{- if ne $lastmod $pubdate }}
                        <div class="post-info-last-mod">
                            (Updated: 
                            <time datetime="{{ .Lastmod }}" title="{{ .Lastmod }}">
                                {{ $lastmod }}
                            </time>)
                        </div>
                    {{- end }}
                {{- end }}
            </div>
    </header>
    <p><a href="/#{{ .Params.slug }}">Show {{ .Title }} on the map</a></p>
    <hr>
    {{- .Content -}}
</article>
<hr>
{{ partial "repository-link.html" (dict "action" "edit" "page" .) }}
{{ partial "repository-link.html" (dict "action" "view" "page" .) }}
{{ end }}
